@{
    ViewData["Title"] = "AboutMe";
}

<!-- Rai Martin Section 002 -->

<h1 class="text-center mb-4">Get to Know Joel</h1>

<!-- Links for Quick Wites and Baconsale -->
<div class ="text-center">
    <p>
        Did you know Joel is a comedian? He performs regularly at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits!</a>
    </p>
    <p>
        Check this link out to see the <a href="https://baconsale.com/" target="_blank">Baconsale site.</a>
    </p>
</div>

<!-- Picture link for Baconsale -->
<div class="text-center">
    <a href="https://baconsale.com/" target="_blank">
        <img src="/stevehiltongroup.jpeg" class="img-fluid mb-3" alt="Steve Hilton Image" />
    </a>
</div>
