@{
    ViewData["Title"] = "Confirmation";
}
@model Movie

<!-- Rai Martin Section 002 -->
<!-- Main Container -->

<h2>Movie added to the base. Thanks!</h2>
<h1>@Model.movieTitle will be a fine edition to the collection.</h1>