@{
    ViewData["Title"] = "Confirm Addition";
}
@model Movie

<!-- Rai Martin Section 002 -->
<!-- Confirmation for addition page -->

<h2>Movie added to the base. Thanks!</h2>
<h1>@Model.Title will be a fine edition to the collection.</h1>