@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Movie>

<table class="table table-bordered">

    <thead class="fw-bold">

        <tr>
            <td>movieTitle</td>
            <td>movieYear</td>
            <td>movieDirector</td>
            <td>movieRating</td>
        </tr>
    
    </thead>

    @foreach (var movie in ViewBag.movies)
    {
        <tbody>
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
            </tr>
        </tbody>
    }

</table>